/*
Styles and form template gotten from: https://codepen.io/RicardoTormo/embed/tuzcA?height=450&theme-id=0&slug-hash=tuzcA&default-tab=result&user=RicardoTormo&embed-version=2&preview=true&name=cp_embed_5
 */

/*fonts*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);



body{
  /*counter-reset:section;*/
  text-align:center;
}

.container{
  position:relative;
  top:100px;
  width: 70%;
  left: 15%;
}

.container h1, .container span{
  font-family:"Pt Sans", helvetica, sans-serif;
}

.container h1{
  text-align:center;
  color:#fff;
  font-weight:100;
  font-size:2em;
  margin-bottom:10px;
}

.container h2{
  font-family:"droid serif";
  font-style:italic;
  color:#d3b6ca;
  text-align:center;
  font-size:1.2em;
}

.container form span:before {
  counter-increment:section;
  content: '';
  border:2px solid #4c2639;
  width:40px;
  height:40px;
  color:#fff;
  display:inline-block;
  border-radius:50%;
  line-height:1.6em;
  font-size:1.5em;
  position:relative;
  left:-22px;
  top:-11px;
  background:#2F1E27;
}

form{
  margin-top:25px;
  display:inline-block;
}

.fields{
  border-left:2px solid #4c2639
}

.container span{
  margin-bottom:22px;
  display:inline-block;
}

.container span:last-child{
  margin-bottom:-11px;
}

input{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  direction: rtl;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px;
}

input[type="button"]{
  background:rgba(197,62,126,.33) ! important;
  color:#fff;
  position:relative;
  left:9px;
  top:25px;
  width:100px;
  cursor:pointer;
}

/* Not in the original code*/
#results {
  float: right;
  width: 50%;
}
#results p {
  color: #fff;
}
#results p span {
  color:#d3b6ca;
}
