<div class="container">
  <h2>Pipes</h2>
  <h1>Ngx-persian</h1>
  <form [formGroup]="fGroup" id="join-us">
    <div class="fields">
      <span>
        <input type="text" formControlName="englishPipe" placeholder="Persian digit to English">
      </span>
      <br />
      <span>
          <input type="text" formControlName="persianPipe" placeholder="English digits to Persian">
      </span>
      <br />
      <span>
          <input type="text" formControlName="rialPipe" placeholder="قیمت به ریال">
      </span>
      <br />
      <span>
          <input type="text" formControlName="tomanPipe" placeholder="قیمت به تومان">
      </span>
      <br />
      <span>
          <input type="text" formControlName="irncode" placeholder="کدملی">
      </span>
      <br />
    </div>
</form>
  <section id="results">
    <p><span>Persian To English:</span> {{englishDigits | enNum}}</p>
    <p><span>English and Arabic to Persian:</span> {{persianDigits | faNum}}</p>
    <p><span>In Rial: </span> {{rialPrice | irc:'R'}}</p>
    <p><span>In Toman: </span> {{tomanPrice | irc:'TOMAN'}}</p>
    <p><span>National Code: </span> {{nationalCode | nationalCode}}</p>
    <p><span>Jalali Date:</span><span style="direction: rtl; color: #fff">&nbsp;&nbsp;{{this.date | jdate}}&nbsp;&nbsp;</span></p>
  </section>
</div>
